<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamados em Aberto</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/styles-daltonicos.css" id="daltonic-style" disabled>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <header class="header">
        <div class="user-info">
            <i class="fas fa-user"></i> <span id="user-name">Sgt Monteiro</span>
        </div>
        <div class="header-icons">
            <i class="fas fa-bell"></i><span class="notification-count"></span>
            <i class="fas fa-question-circle"></i>
            <i class="fas fa-cogs"></i>
            <i class="fas fa-search"></i>
        </div>
        <div class="font-size-controls">
            <button onclick="adjustFontSize('increase')">A+</button>
            <button onclick="adjustFontSize('decrease')">A-</button>
        </div>
        <button class="color-blind-mode" onclick="toggleDaltonicMode()">Modo Daltônico</button>
    </header>

    <div class="menu-toggle" onclick="toggleMenu()">
        <span>&#9776;</span>
    </div>
    <nav class="sidebar">
        <ul>
            <img src="https://logodownload.org/wp-content/uploads/2018/02/exercito-brasileiro-logo-2.png" alt="Logo do Exército Brasileiro" style="width: 50px; display: block; margin: 0 auto 20px;"></a>
            <li><a href="/"><i class="fas fa-history icon"></i> <span>Histórico de Chamados</span></a></li>
            <li><a href="/criar_chamados"><i class="fas fa-plus icon"></i> <span>Abrir Chamado</span></a></li>
            <li><a href="/filtrar?filtro=c.status_chamado&valor=aberto"><i class="fas fa-folder-open icon"></i> <span>Chamados em Aberto</span></a></li>
            <li><a href="/usuario/listar"><i class="fas fa-users icon"></i> <span>Usuários Cadastrados</span></a></li>
            <li><a href="/usuario/criar"><i class="fas fa-user-plus icon"></i> <span>Cadastrar Novo Usuário</span></a></li>
            <li><a href="/usuario/desconectar"><i class="fas fa-sign-out-alt icon"></i> <span>Logout</span></a></li>
        </ul>
    </nav>
    
    <div class="container">
        <h1>Chamados</h1>

        <h2>Lista de Chamados</h2>
        <form action="/filtrar" method="GET">
            <select name="filtro" id="filtro" onchange="alterarTipoInput()">
                <option value="c.status_chamado" <%= filter === 'c.status_chamado' ? 'selected' : '' %>>Status</option>
                <option value="c.descricao" <%= filter === 'c.descricao' ? 'selected' : '' %>>Descrição</option>
                <option value="c.data_criacao" <%= filter === 'c.data_criacao' ? 'selected' : '' %>>Data</option>
                <option value="c.urgencia" <%= filter === 'c.urgencia' ? 'selected' : '' %>>Urgência</option>
                <option value="u.nome_guerra" <%= filter === 'u.nome_guerra' ? 'selected' : '' %>>Nome do usuário</option>
                <option value="p.descricao" <%= filter === 'p.descricao' ? 'selected' : '' %>>Nome do posto</option>
                <option value="cat_c.descricao" <%= filter === 'cat_c.descricao' ? 'selected' : '' %>>Categoria do chamado</option>
            </select>
            <input type="text" placeholder="Digite o que deseja pesquisar" name="valor" id="valor" required>
            <button type="submit">Filtrar</button>
        </form>
        <% if (filter) { %>
            <a class="clean-filters" href="/"><button>Limpar filtro</button></a>
        <% } %>
        <ul id="chamados-lista">
            <% if (tickets && tickets.length > 0) { %>
                <% tickets.forEach(function(ticket) { %>
                    <li id="<%= ticket.id_chamado %>" class="chamado-item">
                        <div class="chamado-info">
                            <div class="container">
                                <div class="div-tickets">
                                    <div class="div-ticket">
                                        <form action="/chamado/alterar/" method="POST">
                                            <button type="submit" name="id" value="<%= ticket.id_chamado %>" class="btn btn-primary">Alterar</button>
                                            <p><strong>Solicitante:</strong> <%= ticket.descricao_posto_grad %> <%= ticket.nome_guerra %></p>
                                            <p><strong>Categoria:</strong> <%= ticket.descricao_categoria %></p>
                                            <p><strong>Descrição:</strong> <%= ticket.descricao_chamado %></p>
                                            <p><strong>Urgência:</strong> <%= ticket.urgencia %></p>
                                            <p><strong>Data e Hora:</strong> <%= ticket.data_criacao %></p>
                                            <p><strong>Status:</strong> <span class="status"><%= ticket.status_chamado %></span></p>
                                        </form>


                                        <div class="ticket-actions">
                                            
                                            <form action="/chamado/excluir/" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?');" style="display:inline;">
                                                <button type="submit" name="id" value="<%= ticket.id_chamado %>" class="btn btn-danger">Excluir</button>
                                            </form>
                                        </div>


                                        <!-- PARA SER IMPLEMENTADO FUTURAMENTE   
                                        <select>
                                            <option value="Aberto">Aberto</option>
                                            <option value="Em andamento">Em andamento</option>
                                            <option value="Fechado">Fechado</option>
                                        </select> -->
                                    </div>
                                    <!-- PARA SER IMPLEMENTADO FUTURAMENTE 
                                    <button class="btn-cancelar" onclick="confirmarCancelamento('<%= ticket.id_chamado %>', this)">Cancelar</button>
                                    -->
                                </div>
                            </div>
                        </div>
                    </li>
                <% }); %>
            <% } else { %>
                <p>Nenhum chamado encontrado.</p>
            <% } %>     
        </ul>
        
        <p></p>
        <!--  PARA SER IMPLEMENTADO FUTURAMENTE
          <a href="historico.html" class="btn-extrair">Extrair Histórico de Chamados</a>
        -->
    </div>

    <script src="/js/scripts.js"></script>
</body>

</html>